* {
    box-sizing: border-box;
}

body {
   width: 60%;
   margin: auto;
   color: #004E89;
   font-family: 'PT Sans', sans-serif;
}

h1{
    text-align: center;
    color: #004E89;
}

/* Form styles */
#container-form {
    padding: 5%;
    margin: auto;
}

fieldset {
    border: none;
    color:#ecf0f1;
}

form {
    text-align: center;
    background: #1A659E;

}

input[type=text],
input[type=email] {
    width: 100%;
    border: none;
    background: #ecf0f1;
    line-height: 1rem;
    padding: 5px;
    margin: 5px;
    
}

form button {
    background: #FF6B35;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

/* end of form styles */


.offers {
    background-color:#ecf0f1;
    display: block;
}

.requests {
   background-color:#ecf0f1;
   display: none;
}

/* tab styles */

.tab {
    overflow: hidden;
    margin-top: 40px;
}

.tab button {
    background-color: #ccc;
    float: left;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: lightyellow;
}

/* Accessibility highlight */
.tab button:focus {
    border: 2px #004E89 solid !important;
}

.tab button.active {
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
}

.tablinks {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* table styles  */

table {
    max-width: 100%;
    text-align: left;
    overflow: scroll;
}

th {
    line-height: 1.5rem;
}

/* Media Queries  */

@media (max-width: 900px) {
    body {
        width: 90%;
    }

    td:nth-child(3),
    th:nth-child(3)
    {
        word-break: break-all;
    }
}